<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.Beam.mapper.uploadFilesMapper">

    <!--查询用户信息-->
    <select id="findUserById" parameterType="java.util.Map" resultMap="String">
        select * from user
    </select>

    <!--保存验证码到数据库-->
    <insert id="saveRandomCode" parameterType="java.util.Map">
            insert into random_verify(code,create_time,after_time)
            values(#{code},#{create_time},#{after_time})
    </insert>

    <!--更新数据库验证码验证状态-->
    <update id="updateRandomCode" parameterType="java.util.Map">
        update random_verify set code_erify = 1
        where id = {id}
    </update>

</mapper>