<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.Beam.mapper.uploadFilesMapper">

    <!--添加图片信息-->
    <insert id="insertImages" parameterType="java.util.Map">
        insert into ${dataBase} (menu_class,food_name,food_image,food_price,add_time)
        values (#{menuClass},#{foodName},#{imagePath},#{foodPrice},#{nowTime})
    </insert>


</mapper>