<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.Beam.mapper.weChatMapper">

    <!--添加用户信息-->
    <insert id="insertCustomer" parameterType="java.util.Map">
        insert into customerInfo (nume,dormitory,phone,sex,add_time)
        values (#{userName},#{userRoom},#{userPhone},#{userSex},#{addTime})
    </insert>

    <!--查询商家-->
    <select id="findMenu" resultType="java.util.Map">
        select *
        from merchant
    </select>

    <!--查询商家详细页-->
    <select id="findMerchant" resultType="java.util.Map" parameterType="java.util.Map">
        select *
        from ${dataBase},merchant
        where merchant.merchant_id = ${merchantId}
    </select>

    <!--添加订单信息-->
    <insert id="insertOrder" parameterType="java.util.Map">
        insert into orderInfo (idKey,merchant,food_name,food_num,food_price,
        total_num,total_price,order_time,cus_phone,remark)
        values (#{idKey},#{merchant},#{foodName},#{foodNum},#{foodPrice},#{totalNum},
        #{totalPrice},#{orderTime},#{cusPhone},#{remark})
    </insert>

    <!--查询商家-->
    <select id="findScrollBar" resultType="java.util.Map">
        select *
        from scollbar
    </select>

</mapper>